<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Socially Smart</title>
  </head>
  <body>
    <h1>Socially Smart : An aggrigation sytem for social media</h1>
    <p><a href="{% url 'scrape_reddit' %}">Scrape Reddit</a> <a href="{% url 'scrape_onion' %}">Scrape Onion</a> <a href="{% url 'create' %}">Create Note</a></p>
    <h2>Your daily posts: </h2>
    <h3>Posts form The Onion News   :</h3>
    {% for obj in onion_list %}
    <li>
      <a href="{{obj.url}}"> {{obj.title}}</a>
    </li>
    {% endfor %}

    <h3>Posts from reddit :</h3>
    {% for obj in reddit_list %}
    <li>
      <a href="{{obj.url}}"> {{obj.title}}</a> Comments:{{obj.comments}}
      <p></p>
    </li>
    {% endfor %}
  </body>
</html>
